<!DOCTYPE html>
<html lang="en" ng-app="freemarketApp">
<head>
	<meta charset=utf-8>
	<meta name=viewport content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" href="css/styles.css">

	<title>Free Market</title>
</head>
<body>

	<navigation-bar></navigation-bar>
	<!-- <header>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button id="navbarToggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fm-navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
				<a class="navbar-brand" href="#">Free Market</a>
			</div>

			<div id="fm-navbar-collapse" class="collapse navbar-collapse">

				<form class="navbar-form navbar-left">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button ng-click="search()" class="btn btn-default">Search</button>
				</form>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Register</a></li>
					<li><a href="#">Login</a></li>
					<li><a href="#">Sell</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header> -->
	
	<div class="main-content">
		<div class="container">
			
			<carousel-jumbotron></carousel-jumbotron>

			<main-categories></main-categories>

			<div class="panel panel-default">
				<div id="register-reminder" class="panel-body">
					<div class="row">
						<div class="col-md-6 text-center">
							<span>No account yet?</span>
							<button class="btn btn-primary">Register for free</button>
						</div>
						
						<hr class="visible-sm visible-xs">
						
						<div id="social" class="col-md-6 text-center">
							<div class="fb-like" data-href="https://www.facebook.com/freemarketlc" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
						</div>
					</div>					
				</div>
			</div>

			<main-features></main-features>

			<download-app></download-app>

			<div ng-controller="FeaturedAdsCtrl">
				<h4>Featured Ads</h4>
				<div class="row">
					<div ng-repeat="link in links" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
						<div class="text-center">
							<img ng-src="{{link.image}}" width="150px" height="150px">
						</div>
						<div class="text-center">{{link.name}}</div>
						<div class="text-center">{{link.price | currency}}</div>
					</div>
				</div>				
			</div>
			
		</div><!-- end container -->
	</div><!-- end main-content -->	

	<footer-bar></footer-bar>
	
	<script src="js/jquery-3.1.1.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="js/angular.min.js"></script>
	<script src="app.js"></script>
	<script src="js/initialize.js"></script>
	<script src="js/facebook.js"></script>
</body>
</html>