<div class="panel panel-default">
	<div id="app-download" class="panel-body">
		<div class="row">						
			<div class="col-md-6 col-sm-12 appstore-download-text">
				<h4>Buy and sell direct from your mobile!</h4>
				Download for <strong>free</strong> the Free&nbsp;Market app for iOS and Android.
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="appstore-download-logo">
					<a href="https://appsto.re/us/KRVRN.i" target="_blank">
						<span class="desktop-sprite appstore-apple"></span>
					</a>
					<a href="https://play.google.com/store/apps/details?id=com.ionicframework.ng2app896991" target="_blank">
						<span class="desktop-sprite appstore-google"></span>
					</a>								
				</div>
			</div>
		</div>
	</div>
</div>