<footer class="panel-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-8 col-sm-7 col-xs-12">
				<div class="company-info-text">
					<p>Copyright &copy; 2016 freemarketlc.com.</p>
					<p>1320 S Dixie Hwy, Coral Gables, FL 33146</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
				<button style="width: 100%" class="btn btn-default btn-lg">
				<span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Download the free App!</button>
			</div>
		</div>
	</div>
</footer>